/.metadata/

/Servers/
RemoteSystemsTempFiles/.project
DHBW_Serverside/WebContent/META-INF/MANIFEST.MF
DHBW_Serverside/.settings/org.eclipse.wst.jsdt.ui.superType.name
DHBW_Serverside/.settings/org.eclipse.wst.jsdt.ui.superType.container
DHBW_Serverside/.settings/org.eclipse.wst.common.project.facet.core.xml
DHBW_Serverside/.settings/org.eclipse.wst.common.component
DHBW_Serverside/.settings/org.eclipse.jdt.core.prefs
DHBW_Serverside/.settings/.jsdtscope
DHBW_Serverside/.project
DHBW_Serverside/.classpath
